* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home sb {
    background-color: #AAA;
    height: 5px;
    width: 90%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.Home About {
    display: flex;
    height: 200px;
    background-color: aqua;
}